{:kotoba.app/id "cloud.itonami.isic-1074", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidayxlbwjowqra4seiw5cty3gedonrau5cnpyk6sfcr7yioujkfjy", :kotoba.app/embed-url "ipfs://bafkreidayxlbwjowqra4seiw5cty3gedonrau5cnpyk6sfcr7yioujkfjy", :published {:archive "https://kotobase.net/ipfs/bafkreidayxlbwjowqra4seiw5cty3gedonrau5cnpyk6sfcr7yioujkfjy", :size 72592, :put-status 201, :get-status 200, :at "2026-08-15T13:45:17.581Z"}}
